In [1]:
import pandas as pd 
import numpy as np
import pyreadstat
pd.set_option("max.columns", None)
pd.set_option("max.rows", None)
df = pd.read_spss('./Files/3216.sav')

In [4]:
my_vars = ['ESTUDIO','CCAA','PROV','MUN','TAMUNI','P1_1','P1_2','P1_3','P1_4','P1_5','P2_1','P2_2','P2_3','P2_4','P2_5',
 'P3A','P3B','P4_1','P4_2','P4_3','P4_4','P4_5','P4_6','P4_7','P4_8','P4_9','P4_10',
 'P5_1','P5_2','P5_3','P5_4','P5_5','P5_6','P5_7','P5_8','P5_9','P5_10','P5_11','P5_12','P5_13','P5_14',
 'P6','P7A','P7B','P8','P9','P11A','P11B','P16','P17','P18','P18A','P19_1','P19_2','P19_3',
 'P34_1','P34_2','P34_3','P34_4','P34_5','P34_6','P34_7','P34_8','P34_9','P34_10',
 'P35_1','P35_2','P35_3','P35_4','P35_5','P35_6','P35_7','P43','P45','P45A','P45AR',
 'RECUERDO','P46','P47','P48','P48A','P49','P49A','ESTUDIOS','P49AA',
 'P53','P54','ESTATUS','P60', 'P61','P62']
df2 = df[my_vars].copy()

In [5]:
# The function extracts all data frame variables and unique responses attached to a code

def resp_codes(df, varnames):
    # df: dataframe that is going to be used to extrat response code
    # varnames: names of the variables needed to store the codes, tipically they will be three:
        # varname a: suggested - var is the name of the original variable / column name
        # varname b: suggested - resp is the value of the variable generally an string / column value
        # varname c: suggested - code is the code applied to resp, only one code by unique variable response
    
    df_tot = pd.DataFrame(columns = varnames)
    for var in df.columns: 
        ctr = 0
        
        while ctr < len(df[var].unique()): 
            
            my_row = np.array([[df[var].name, df[var].unique()[ctr], ctr + 1]])
            df_par = pd.DataFrame(columns= varnames, data = my_row)
            df_tot = pd.concat([df_tot, df_par], ignore_index= True)
            ctr += 1
    
    return df_tot

In [6]:
my_resp = resp_codes(df2,['var','resp','code'])

In [8]:
my_resp['var'].unique()

array(['ESTUDIO', 'CCAA', 'PROV', 'MUN', 'TAMUNI', 'P1_1', 'P1_2', 'P1_3',
       'P1_4', 'P1_5', 'P2_1', 'P2_2', 'P2_3', 'P2_4', 'P2_5', 'P3A',
       'P3B', 'P4_1', 'P4_2', 'P4_3', 'P4_4', 'P4_5', 'P4_6', 'P4_7',
       'P4_8', 'P4_9', 'P4_10', 'P5_1', 'P5_2', 'P5_3', 'P5_4', 'P5_5',
       'P5_6', 'P5_7', 'P5_8', 'P5_9', 'P5_10', 'P5_11', 'P5_12', 'P5_13',
       'P5_14', 'P6', 'P7A', 'P7B', 'P8', 'P9', 'P11A', 'P11B', 'P16',
       'P17', 'P18', 'P18A', 'P19_1', 'P19_2', 'P19_3', 'P34_1', 'P34_2',
       'P34_3', 'P34_4', 'P34_5', 'P34_6', 'P34_7', 'P34_8', 'P34_9',
       'P34_10', 'P35_1', 'P35_2', 'P35_3', 'P35_4', 'P35_5', 'P35_6',
       'P35_7', 'P43', 'P45', 'P45A', 'P45AR', 'RECUERDO', 'P46', 'P47',
       'P48', 'P48A', 'P49', 'P49A', 'ESTUDIOS', 'P49AA', 'P53', 'P54',
       'ESTATUS', 'P60', 'P61', 'P62'], dtype=object)

In [26]:
# Para las categóricas
np.sort(df['PROV'].unique())

array(['Albacete', 'Alicante/Alacant', 'Almería', 'Araba/Álava',
       'Asturias', 'Badajoz', 'Balears (Illes)', 'Barcelona', 'Bizkaia',
       'Burgos', 'Cantabria', 'Castellón/Castelló', 'Ceuta',
       'Ciudad Real', 'Coruña (A)', 'Cuenca', 'Cáceres', 'Cádiz',
       'Córdoba', 'Gipuzkoa', 'Girona', 'Granada', 'Guadalajara',
       'Huelva', 'Huesca', 'Jaén', 'León', 'Lleida', 'Lugo', 'Madrid',
       'Melilla', 'Murcia', 'Málaga', 'Navarra', 'Ourense', 'Palencia',
       'Palmas (Las)', 'Pontevedra', 'Rioja (La)', 'Salamanca',
       'Santa Cruz de Tenerife', 'Segovia', 'Sevilla', 'Soria',
       'Tarragona', 'Teruel', 'Toledo', 'Valencia/València', 'Valladolid',
       'Zamora', 'Zaragoza', 'Ávila'], dtype=object)

In [6]:
TAMUNI = {'Menos o igual a 2.000 habitantes': 1, '2.001 a 10.000 habitantes':2, '10.001 a 50.000 habitantes': 3, 
          '50.001 a 100.000 habitantes': 4, '100.001 a 400.000 habitantes': 5, '400.001 a 1.000.000 habitantes': 6,
          'Más de 1.000.000 habitantes': 7}

In [21]:
mycodes['TAMUNI']

[('Menos o igual a 2.000 habitantes', 1),
 ('2.001 a 10.000 habitantes', 2),
 ('10.001 a 50.000 habitantes', 3),
 ('50.001 a 100.000 habitantes', 4),
 ('100.001 a 400.000 habitantes', 5),
 ('400.001 a 1.000.000 habitantes', 6),
 ('Más de 1.000.000 habitantes', 7)]

In [8]:
mycodes =  {'TAMUNI': [('Menos o igual a 2.000 habitantes',1), ('2.001 a 10.000 habitantes',2), 
                       ('10.001 a 50.000 habitantes', 3), ('50.001 a 100.000 habitantes', 4),
                       ('100.001 a 400.000 habitantes', 5), ('400.001 a 1.000.000 habitantes', 6),
                       ('Más de 1.000.000 habitantes', 7)],
            'P1_':[('Ningún interés', 1),('Poco interés', 2), ('(NO LEER) Suficiente interés', 3),('Bastante interés', 4), 
                   ('Mucho interés', 5),('N.S.', 9800),('N.C.', 9900),],
            'P2_':[('Nada informado/a', 1), ('Poco informado/a', 2), ('(NO LEER) Suficiente informado/a', 3),
                   ('Bastante informado/a', 4) ,('Muy informado/a', 5), ('N.S.', 9800), ('N.C.', 9900)],
            'P3A':[('N.S.', 9800), ('N.C.', 9900)],
            'P3B':[('Ninguna más', 9700), ('N.S.', 9800), ('N.C.', 9900)],
            'P4_':[('Nada de acuerdo', 1), ('Poco de acuerdo', 2), ('Bastante de acuerdo', 3), 
                   ('Muy de acuerdo', 4), ('N.S.', 9800), ('N.C.', 9900)],
            'P5_':[('Ninguna importancia', 1), ('Poca importancia', 2), ('Bastante importancia', 3), 
                   ('Mucha importancia', 4), ('N.S.', 9800), ('N.C.', 9900)],
            'P6':[('Los perjuicios de la innovación son mayores que sus benefici', 1),
                ('Los beneficios y los perjuicios de la innovación están equil', 2),
                ('Los beneficios de la innovación son mayores que sus perjuici', 3), ('N.S.', 9800), ('N.C.', 9900)],
            'P7':[('(NO LEER) Otras', 9600), ('(NO LEER) Ninguna', 9700), ('N.S.', 9800), ('N.C.', 9900)],
            'P8':[('Debe ser exclusivamente pública (de cualquier Administración', 1),
                  ('Debe ser pública, con implicación del sector privado (empres', 2),
                  ('Debe ser, en la misma medida, del sector público y del priva', 3),
                  ('Debe ser privada, con implicación del sector público (de cua', 4),
                  ('Debe ser exclusivamente privada (empresas o inversores priva', 5),
                  ('(NO LEER) Depende del sector', 9500),
                  ('N.S.', 9800), 
                  ('N.C.', 9900)],
            'P9':[('Poco', 1), ('Suficiente', 2), ('Mucho', 3), ('N.S.', 9800),('N.C.', 9900)],
            'P11':[('N.S.', 9800),('N.C.', 9900)],
            'P16':[('Sí',1), ('No',2), ('No recuerda', 9800), ('N.C.', 9900)],
            'P17':[('Muy negativo', 1), ('Negativo', 2), ('(NO LEER) Ni positivo ni negativo', 3),
                   ('Positivo', 4), ('Muy positivo', 5), ('N.S.', 9800), ('N.C.', 9900)],
            'P18':[('No', 1), ('Sí, algunas', 2), ('Sí, la mayor parte', 3), ('Sí, todas', 4), 
                   ('N.P. (No ha trabajado nunca)', 9400), ('N.S.', 9800), ('N.C.', 9900)],
            'P19_':[('Nada de acuerdo', 1), ('Poco de acuerdo', 2), ('Bastante de acuerdo', 3),
                    ('Muy de acuerdo', 4), ('N.S.', 9800), ('N.C.', 9900)],
            'P34_':[('Ud. mismo/a', 1), ('Un/a miembro de su familia', 2), ('Un/a amigo/a o conocido/a cercano/a', 3),
                    ('(NO LEER) No tiene/puede/sabe ni Ud. ni ningún familiar, ami', 4), ('N.S./N.C.', 9900)],
            'P35_':[('1 persona', 1), ('2 personas', 2),('3 personas', 3),('4 personas', 4),('5 personas', 5),
                    ('6 personas', 6),('7 personas', 7),('8 personas', 8),('9 personas', 9),('10 o más personas'),
                    ('(NO LEER) N.P. (No trabaja/estudia...)', 9400),('Ninguna persona', 9700),
                    ('N.S./N.R.', 9800),('N.C.', 9900)],
            'P43':[('1 Izquierda', 1),('2', 2),('3', 3),('4', 4),('5', 5),('6', 6),
                   ('7', 7),('8', 8),('9', 9),('10 Derecha', 10),('(NO LEER) Ninguna', 11),],
            'P45A':[('Otros partidos',9600),(np.nan, 9400),('No recuerda', 9800),('N.C.', 9900)],
            'RECUERDO':[(np.nan, 9401),('No tenía edad', 9402),('Otros', 9403),('No tenía derecho a voto', 9404),('No recuerda', 9800),('N.C.', 9900),],
            'P48':[('N.C.', 9900)],
            'P48A':[(np.nan, 9401), ('N.C.', 9900)],
            'P49':[('N.C.', 9900)],
            'P49A':[('Menos de 5 años de escolarización', 1),('Educación primaria (Educación primaria de LOGSE, 5º Curso de', 2)
                    ,('Educación secundaria (ESO, EGB. Graduado Escolar. Certificad', 3),('Bachillerato (Bachillerato LOGSE, BUP, Bachillerato superior', 4)
                    ,('Cualificación profesional grado inicial (FP grado inicial).', 5),('FP de grado medio (Ciclo/módulo formativo de FP (grado medio', 6)
                    ,('FP de grado superior (grado superior), Ciclos de Artes Plást', 7),('Diplomatura (ATENCIÓN: solo Diplomaturas oficiales, no codif', 8)
                    ,('Arquitectura-ingeniería técnica (Arquitectura/ingeniería téc', 9),('Grado (Estudios de grado, Enseñanzas Artísticas equivalentes', 10)
                    ,('Licenciatura (Titulaciones con equivalencia oficial: 2º cicl', 11),('Arquitectura/ingeniería', 12)
                    ,('Títulos propios de posgrado (máster no oficial, etc.)', 13),('Máster oficial universitario (Especialidades médicas o equiv', 14)
                    ,('Doctorado', 15),('Otros estudios', 9600),(np.nan, 9400),('N.S.', 9800),('N.C.', 9900)],
            'ESTUDIOS':[(np.nan, 9400), ('N.S./N.R.', 9800), ('N.C.', 9900)],
            'P53':[('N.C.', 9900)],
            'ESTATUS':[('Clase alta/media-alta', 1),('Nuevas clases medias', 2),('Viejas clases medias', 3),
                       ('Obreros/as cualificados/as', 4),('Obreros/as no cualificados/as', 5),('No consta', 9800)],
            'P60':[('Creyente de otra religión', 9600), ('N.C.', 9900)],
            'P61':[('No tienen ingresos de ningún tipo', 1),('Menos o igual a 300 €', 2),('De 301 a 600 €', 3)
                   ,('De 601 a 900 €', 4),('De 901 a 1.200 €', 5),('De 1.201 a 1.800 €', 6),('De 1.801 a 2.400 €', 7)
                   ,('De 2.401 a 3.000 €', 8),('De 3.001 a 4.500 €', 9),('De 4.501 a 6.000 €', 10),('Más de 6.000 €', 11),
                   ('N.S.', 9800),('N.C.', 9900)],
            'P62':[('No tienen ingresos de ningún tipo', 1),('Menos o igual a 300 €', 2),('De 301 a 600 €', 3)
                   ,('De 601 a 900 €', 4),('De 901 a 1.200 €', 5),('De 1.201 a 1.800 €', 6),('De 1.801 a 2.400 €', 7)
                   ,('De 2.401 a 3.000 €', 8),('De 3.001 a 4.500 €', 9),('De 4.501 a 6.000 €', 10),('Más de 6.000 €', 11),
                   ('N.S.', 9800),('N.C.', 9900)]}

In [ ]:
# Next step 
# 1. Dictionary of variables --> Ok 
# 2. List of variables sorted / unsorted
# 3. Function to separate variables sorted & unsorted
# 4. Function to return codes in the dictionary
# 5. Function to return the final dataframe
# 6. Pack the function

In [16]:
vsorted = ['TAMUNI','P1_1','P1_2','P1_3','P1_4','P1_5','P2_1','P2_2','P2_3','P2_4','P2_5',
 'P3A','P3B','P4_1','P4_2','P4_3','P4_4','P4_5','P4_6','P4_7','P4_8','P4_9','P4_10',
 'P5_1','P5_2','P5_3','P5_4','P5_5','P5_6','P5_7','P5_8','P5_9','P5_10','P5_11','P5_12','P5_13','P5_14',
 'P6','P7A','P7B','P8','P9','P11A','P11B','P16','P17','P18','P18A',
 'P19_1','P19_2','P19_3','P34_1','P34_2','P34_3','P34_4','P34_5','P34_6','P34_7','P34_8','P34_9','P34_10',
 'P35_1','P35_2','P35_3','P35_4','P35_5','P35_6','P35_7','P43','P45A','RECUERDO','P48','P48A','P49','P49A','ESTUDIOS',
 'P53','ESTATUS','P60','P61','P62']
vunsorted = ['CCAA','PROV','MUN','P45','P45AR','P46','P47','P49AA','P54']
vnumer = ['CUES','PESO']

In [22]:
for var in my_vars2: 
    if var in vnumer: 
        print('vnumer' + ' ' + var)
    elif var in vunsorted: 
        print('vunsorted'+ ' ' + var)
    else:
        print('vsorted'+ ' ' + var)

vsorted ESTUDIO
vnumer CUES
vunsorted CCAA
vunsorted PROV
vunsorted MUN
vsorted TAMUNI
vsorted P1_1
vsorted P1_2
vsorted P1_3
vsorted P1_4
vsorted P1_5
vsorted P2_1
vsorted P2_2
vsorted P2_3
vsorted P2_4
vsorted P2_5
vsorted P3A
vsorted P3B
vsorted P4_1
vsorted P4_2
vsorted P4_3
vsorted P4_4
vsorted P4_5
vsorted P4_6
vsorted P4_7
vsorted P4_8
vsorted P4_9
vsorted P4_10
vsorted P5_1
vsorted P5_2
vsorted P5_3
vsorted P5_4
vsorted P5_5
vsorted P5_6
vsorted P5_7
vsorted P5_8
vsorted P5_9
vsorted P5_10
vsorted P5_11
vsorted P5_12
vsorted P5_13
vsorted P5_14
vsorted P6
vsorted P7A
vsorted P7B
vsorted P8
vsorted P9
vsorted P11A
vsorted P11B
vsorted P16
vsorted P17
vsorted P18
vsorted P18A
vsorted P19_1
vsorted P19_2
vsorted P19_3
vsorted P34_1
vsorted P34_2
vsorted P34_3
vsorted P34_4
vsorted P34_5
vsorted P34_6
vsorted P34_7
vsorted P34_8
vsorted P34_9
vsorted P34_10
vsorted P35_1
vsorted P35_2
vsorted P35_3
vsorted P35_4
vsorted P35_5
vsorted P35_6
vsorted P35_7
vsorted P43
vunsorted P45
vsorted P45A
vunsorted P45AR
vsorted RECUERDO
vunsorted P46
vunsorted P47
vsorted P48
vsorted P48A
vsorted P49
vsorted P49A
vsorted ESTUDIOS
vunsorted P49AA
vsorted P53
vunsorted P54
vsorted ESTATUS
vsorted P60
vsorted P61
vsorted P62
vnumer PESO

In [9]:
my_vars2 = ['ESTUDIO','CUES','CCAA','PROV','MUN','TAMUNI','P1_1','P1_2','P1_3','P1_4','P1_5','P2_1','P2_2','P2_3','P2_4','P2_5',
 'P3A','P3B','P4_1','P4_2','P4_3','P4_4','P4_5','P4_6','P4_7','P4_8','P4_9','P4_10',
 'P5_1','P5_2','P5_3','P5_4','P5_5','P5_6','P5_7','P5_8','P5_9','P5_10','P5_11','P5_12','P5_13','P5_14',
 'P6','P7A','P7B','P8','P9','P11A','P11B','P16','P17','P18','P18A','P19_1','P19_2','P19_3',
 'P34_1','P34_2','P34_3','P34_4','P34_5','P34_6','P34_7','P34_8','P34_9','P34_10',
 'P35_1','P35_2','P35_3','P35_4','P35_5','P35_6','P35_7','P43','P45','P45A','P45AR',
 'RECUERDO','P46','P47','P48','P48A','P49','P49A','ESTUDIOS','P49AA',
 'P53','P54','ESTATUS','P60', 'P61','P62', 'PESO']

In [13]:
my_var3 = ['TAMUNI','P1_1','P1_2','P1_3','P1_4','P1_5','P2_1','P2_2','P2_3','P2_4','P2_5',
 'P3A','P3B','P4_1','P4_2','P4_3','P4_4','P4_5','P4_6','P4_7','P4_8','P4_9','P4_10',
 'P5_1','P5_2','P5_3','P5_4','P5_5','P5_6','P5_7','P5_8','P5_9','P5_10','P5_11','P5_12','P5_13','P5_14',
 'P6','P7A','P7B','P8','P9','P11A','P11B','P16','P17','P18','P18A',
 'P19_1','P19_2','P19_3','P34_1','P34_2','P34_3','P34_4','P34_5','P34_6','P34_7','P34_8','P34_9','P34_10',
 'P35_1','P35_2','P35_3','P35_4','P35_5','P35_6','P35_7','P43','P45A','RECUERDO','P48','P48A','P49','P49A','ESTUDIOS',
 'P53','ESTATUS','P60','P61','P62']

In [15]:
for var in my_vars2: 
    if var not in vsorted: 
        print(var)

ESTUDIO
CUES
CCAA
PROV
MUN
P45
P45AR
P46
P47
P49AA
P54
PESO

In [35]:
for key in mycodes.keys(): 
    if 'P1_' in key:
        print('yes' + '_' + str(key))
    else: 
        print('is not')

is not
yes_P1_
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not
is not

In [23]:
for key in TAMUNI.keys(): 
    if key == '2.001 a 10.000 habitantes':
        print(str(TAMUNI[key]) + ' ' + 'yes' )
    else: 
        print(str(TAMUNI[key]) + ' ' + 'no' )

1 no
2 yes
3 no
4 no
5 no
6 no
7 no

In [62]:
for value in TAMUNI2.values():
    print(value)

[('Menos o igual a 2.000 habitantes', 1), ('2.001 a 10.000 habitantes', 2), ('10.001 a 50.000 habitantes', 3)]

In [63]:
for value in TAMUNI2.values(): 
    for val in value: 
        if val[0] == '2.001 a 10.000 habitantes':
            print(str(val[1]) + ' ' + 'yes' )
        else: 
            print(str(val[1]) + ' ' + 'no' )

1 no
2 yes
3 no

In [20]:
TAMUNI['2.001 a 10.000 habitantes']

2

In [ ]:
# Para las de intervalo

In [38]:
# Identify the number of variables in the data frame
rows = -1
for var in df2.columns:
    rows += len(df2[var].unique())
df1 = pd.DataFrame
print(rows)

26

In [38]:
# Identify the number of variables in the data frame
rows = -1
for var in df2.columns:
    rows += len(df2[var].unique())
df1 = pd.DataFrame
print(rows)

26

In [83]:
for var in df2.columns:
    ctr = 0
    while ctr < len(df2[var].unique()):
        print(np.array([df2[var].name, df2[var].unique()[ctr],ctr + 1]))
        ctr += 1

['CCAA' 'Andalucía' '1']
['TAMUNI' 'Menos o igual a 2.000 habitantes' '1']
['TAMUNI' '100.001 a 400.000 habitantes' '2']
['TAMUNI' '10.001 a 50.000 habitantes' '3']
['TAMUNI' '2.001 a 10.000 habitantes' '4']
['TAMUNI' '50.001 a 100.000 habitantes' '5']
['P1_1' 'Mucho interés' '1']
['P1_1' 'Bastante interés' '2']
['P1_1' '(NO LEER) Suficiente interés' '3']
['P1_1' 'Ningún interés' '4']
['P1_1' 'Poco interés' '5']
['P1_1' 'N.S.' '6']
['P1_2' 'Mucho interés' '1']
['P1_2' '(NO LEER) Suficiente interés' '2']
['P1_2' 'Poco interés' '3']
['P1_2' 'Ningún interés' '4']
['P1_2' 'Bastante interés' '5']
['P1_2' 'N.S.' '6']
['P2_1' 'Bastante informado/a' '1']
['P2_1' 'Nada informado/a' '2']
['P2_1' '(NO LEER) Suficiente informado/a' '3']
['P2_1' 'Poco informado/a' '4']
['P2_1' 'Muy informado/a' '5']
['P5_1' 'Mucha importancia' '1']
['P5_1' 'Bastante importancia' '2']
['P5_1' 'Poca importancia' '3']
['P5_1' 'N.S.' '4']

In [92]:
my_df2 = pd.DataFrame(columns = ['var','resp','code'])
for var in df2.columns:
    ctr = 0

    while ctr < len(df2[var].unique()):
 
        my_row = np.array([[df2[var].name, df2[var].unique()[ctr],ctr + 1]])
        my_df = pd.DataFrame(columns= ['var','resp','code'], data = my_row)

        my_df2 = pd.concat([my_df2, my_df], ignore_index= True)
        
        ctr += 1
my_df2

       var                              resp code
0     CCAA                         Andalucía    1
1   TAMUNI  Menos o igual a 2.000 habitantes    1
2   TAMUNI      100.001 a 400.000 habitantes    2
3   TAMUNI        10.001 a 50.000 habitantes    3
4   TAMUNI         2.001 a 10.000 habitantes    4
5   TAMUNI       50.001 a 100.000 habitantes    5
6     P1_1                     Mucho interés    1
7     P1_1                  Bastante interés    2
8     P1_1      (NO LEER) Suficiente interés    3
9     P1_1                    Ningún interés    4
10    P1_1                      Poco interés    5
11    P1_1                              N.S.    6
12    P1_2                     Mucho interés    1
13    P1_2      (NO LEER) Suficiente interés    2
14    P1_2                      Poco interés    3
15    P1_2                    Ningún interés    4
16    P1_2                  Bastante interés    5
17    P1_2                              N.S.    6
18    P2_1              Bastante informado/a    1
19    P2_1                  Nada informado/a    2
20    P2_1  (NO LEER) Suficiente informado/a    3
21    P2_1                  Poco informado/a    4
22    P2_1                   Muy informado/a    5
23    P5_1                 Mucha importancia    1
24    P5_1              Bastante importancia    2
25    P5_1                  Poca importancia    3
26    P5_1                              N.S.    4

In [106]:
# The function extracts all data frame variables and unique responses attached to a code

def resp_codes(df, varnames):
    # df: dataframe that is going to be used to extrat response code
    # varnames: names of the variables needed to store the codes, tipically they will be three:
        # varname a: suggested - var is the name of the original variable / column name
        # varname b: suggested - resp is the value of the variable generally an string / column value
        # varname c: suggested - code is the code applied to resp, only one code by unique variable response
    
    df_tot = pd.DataFrame(columns = varnames)
    for var in df.columns: 
        ctr = 0
        
        while ctr < len(df[var].unique()): 
            
            my_row = np.array([[df[var].name, df[var].unique()[ctr], ctr + 1]])
            df_par = pd.DataFrame(columns= varnames, data = my_row)
            df_tot = pd.concat([df_tot, df_par], ignore_index= True)
            ctr += 1
    
    return df_tot

In [ ]:
my_df2 = pd.DataFrame(columns = ['var','resp','code'])
for var in df2.columns:
    ctr = 0

    while ctr < len(df2[var].unique()):
 
        my_row = np.array([[df2[var].name, df2[var].unique()[ctr],ctr + 1]])
        my_df = pd.DataFrame(columns= ['var','resp','code'], data = my_row)

        my_df2 = pd.concat([my_df2, my_df], ignore_index= True)
        
        ctr += 1
my_df2