In [1]:
import pandas as pd 
import numpy as np
import pyreadstat
pd.set_option("max.columns", None)
pd.set_option("max.rows", None)
df = pd.read_spss('./Files/3216.sav')

In [2]:
df2 = df[['CCAA','TAMUNI','P1_1','P1_2','P2_1','P5_1']].copy()
df2 = df2.head(100)

In [16]:
my_df = pd.DataFrame(columns= ['var','resp','code'])

In [23]:
my_new = pd.DataFrame(['hello','hello2','hello3'])
my_new.T

       0       1       2
0  hello  hello2  hello3

In [38]:
# Identify the number of variables in the data frame
rows = -1
for var in df2.columns:
    rows += len(df2[var].unique())
df1 = pd.DataFrame
print(rows)

26

In [83]:
for var in df2.columns:
    ctr = 0
    while ctr < len(df2[var].unique()):
        print(np.array([df2[var].name, df2[var].unique()[ctr],ctr + 1]))
        ctr += 1

['CCAA' 'Andalucía' '1']
['TAMUNI' 'Menos o igual a 2.000 habitantes' '1']
['TAMUNI' '100.001 a 400.000 habitantes' '2']
['TAMUNI' '10.001 a 50.000 habitantes' '3']
['TAMUNI' '2.001 a 10.000 habitantes' '4']
['TAMUNI' '50.001 a 100.000 habitantes' '5']
['P1_1' 'Mucho interés' '1']
['P1_1' 'Bastante interés' '2']
['P1_1' '(NO LEER) Suficiente interés' '3']
['P1_1' 'Ningún interés' '4']
['P1_1' 'Poco interés' '5']
['P1_1' 'N.S.' '6']
['P1_2' 'Mucho interés' '1']
['P1_2' '(NO LEER) Suficiente interés' '2']
['P1_2' 'Poco interés' '3']
['P1_2' 'Ningún interés' '4']
['P1_2' 'Bastante interés' '5']
['P1_2' 'N.S.' '6']
['P2_1' 'Bastante informado/a' '1']
['P2_1' 'Nada informado/a' '2']
['P2_1' '(NO LEER) Suficiente informado/a' '3']
['P2_1' 'Poco informado/a' '4']
['P2_1' 'Muy informado/a' '5']
['P5_1' 'Mucha importancia' '1']
['P5_1' 'Bastante importancia' '2']
['P5_1' 'Poca importancia' '3']
['P5_1' 'N.S.' '4']

In [92]:
my_df2 = pd.DataFrame(columns = ['var','resp','code'])
for var in df2.columns:
    ctr = 0

    while ctr < len(df2[var].unique()):
 
        my_row = np.array([[df2[var].name, df2[var].unique()[ctr],ctr + 1]])
        my_df = pd.DataFrame(columns= ['var','resp','code'], data = my_row)

        my_df2 = pd.concat([my_df2, my_df], ignore_index= True)
        
        ctr += 1
my_df2

       var                              resp code
0     CCAA                         Andalucía    1
1   TAMUNI  Menos o igual a 2.000 habitantes    1
2   TAMUNI      100.001 a 400.000 habitantes    2
3   TAMUNI        10.001 a 50.000 habitantes    3
4   TAMUNI         2.001 a 10.000 habitantes    4
5   TAMUNI       50.001 a 100.000 habitantes    5
6     P1_1                     Mucho interés    1
7     P1_1                  Bastante interés    2
8     P1_1      (NO LEER) Suficiente interés    3
9     P1_1                    Ningún interés    4
10    P1_1                      Poco interés    5
11    P1_1                              N.S.    6
12    P1_2                     Mucho interés    1
13    P1_2      (NO LEER) Suficiente interés    2
14    P1_2                      Poco interés    3
15    P1_2                    Ningún interés    4
16    P1_2                  Bastante interés    5
17    P1_2                              N.S.    6
18    P2_1              Bastante informado/a    1
19    P2_1                  Nada informado/a    2
20    P2_1  (NO LEER) Suficiente informado/a    3
21    P2_1                  Poco informado/a    4
22    P2_1                   Muy informado/a    5
23    P5_1                 Mucha importancia    1
24    P5_1              Bastante importancia    2
25    P5_1                  Poca importancia    3
26    P5_1                              N.S.    4

In [106]:
# The function extracts all data frame variables and unique responses attached to a code

def resp_codes(df, varnames):
    # df: dataframe that is going to be used to extrat response code
    # varnames: names of the variables needed to store the codes, tipically they will be three:
        # varname a: suggested - var is the name of the original variable / column name
        # varname b: suggested - resp is the value of the variable generally an string / column value
        # varname c: suggested - code is the code applied to resp, only one code by unique variable response
    
    df_tot = pd.DataFrame(columns = varnames)
    for var in df.columns: 
        ctr = 0
        
        while ctr < len(df[var].unique()): 
            
            my_row = np.array([[df[var].name, df[var].unique()[ctr], ctr + 1]])
            df_par = pd.DataFrame(columns= varnames, data = my_row)
            df_tot = pd.concat([df_tot, df_par], ignore_index= True)
            ctr += 1
    
    return df_tot

In [108]:
resp_codes(df, ['var','resp','code'])

KeyboardInterrupt:

In [ ]:
my_df2 = pd.DataFrame(columns = ['var','resp','code'])
for var in df2.columns:
    ctr = 0

    while ctr < len(df2[var].unique()):
 
        my_row = np.array([[df2[var].name, df2[var].unique()[ctr],ctr + 1]])
        my_df = pd.DataFrame(columns= ['var','resp','code'], data = my_row)

        my_df2 = pd.concat([my_df2, my_df], ignore_index= True)
        
        ctr += 1
my_df2